<configuration>
  <property name="home" value="E:/proj/vytamin"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${home}/logs/debug.log</file>
    <append>false</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%d %-5p {%t} %C{0}.%M: %m%n</pattern>
    </encoder>
  </appender>

  <logger level="trace" additivity="false" name="com.anodyzed.vyta"><appender-ref ref="FILE"/></logger>
  <logger level="trace" additivity="false" name="org.springframework"><appender-ref ref="FILE"/></logger>

  <root level="info">
    <appender-ref ref="FILE"/>
  </root>
</configuration>