<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>E:/proj/vytamin/logs/debug.log</file>
    <append>false</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%d %-5p {%t} %C{0}.%M: %m%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="FILE"/>
  </root>
</configuration>